*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
       
}
p{
    padding: 100px;
    margin:100px;
    color: rgb(181, 4, 169);
    font-size: x-small;
    font-style: italic;
    background-image:  url("../images/car.webp");
} 
img{
    width: 100%;
}
